@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext');

* {
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    font-family: "Quicksand", sans-serif;
    color: #fbf6e4;
}

a {
    text-decoration: none;
    color: inherit;
}

label, input {
    display: block;
}

.auth {
    width: 400px;
    height: 500px;
    background: url(../images/vector-smart-object.png), linear-gradient(32deg, #3023ae 0%, #c86dd7 100%);;
    background-size: cover, cover;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px #999;
    position: relative;
}

.auth::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 234px;
    background: url(../images/shadow.png) no-repeat 50% 50%;
    background-size: contain;
    left: -40px;
    bottom: -80px;
    z-index: -2;
}

.auth-method__link {
    margin-right: 25px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    opacity: 0.5;
    transition: .3s;
}

.auth-method__link::after {
    content: '';
    width: 0;
    height: 2px;
    background: #e66a64;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.auth-method__link--active::after {
    width: 100%;
}

.auth-method__link--active {
    opacity: 1;
}

.auth-method__link:hover {
    opacity: 1;
}

.form {
    padding-top: 40px;
}

.form__label {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.form__input {
    width: 261px;
    height: 42px;
    border: solid 2px rgba(191, 185, 204, 0.54);
    background: none;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 10px;
    color: #fbf6e4;
}

.form__element:nth-child(3) {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 40px;
}

.form__checkbox-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
}

input[type=checkbox] {
    display: none;
}
    
.form__checkbox-label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
}

input[type="checkbox"]:not(:checked) + .form__checkbox-label:before {
    background-color: none;
    outline: solid 2px rgba(191, 185, 204, 0.54);
}

input[type=checkbox]:checked + .form__checkbox-label:before  {
	content: "\2713";
	font-size: 10px;
	color: #f3f3f3;
	text-align: center;
    line-height: 16px;
    background-color: #23ae92;
}

.form__input-submit {
    width: 260px;
    height: 42px;
    border: none;
    outline: none;
    background-color: #23ae92;
    color: #fbf6e4;
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
}

.form__input-submit:hover {
    box-shadow: 0 0 2px 2px rgb(80, 80, 80);
    background-color: #16be9d;
}

.form__input-submit:active {
    box-shadow: 0 0 2px 2px rgb(80, 80, 80);
    background-color: #0c836b;
}

.additional {
    display: flex;
    justify-content: space-between;
}

.additional__link {
    font-size: 13px;
    color: #fbf6e4;
    padding-bottom: 3px;
    border-bottom: solid 1px #fbf6e4;
    opacity: 0.5;
}

.additional__link:hover, .additional__link:active {
    opacity: 1;
}